<br>
<!---------------------------------------------------------->
<br>
<!---------------------------------------------------------->
<div class="container">
<div class="row">
    <div class="col-12 ">
        <div class="row">
            <div class="col-6">
                <div class="text-center">
                    <button class="btn btn-dark shadow mt-2 px-5   " [routerLink]="['/home/']">
                        Retour</button>
                </div>
            </div>
            <div class="col-6 text-right ">
                <div class="text-center"> 
                    <button class="btn btn-primary shadow mt-2 px-5    " [routerLink]="['/home/acompte']">
                        Ajouter</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!---------------------------------------------------------->
<div class="p-2 container-fluid">
    <div class="mb-5">
        <h1 class="text-center fw-bold">Mes acomptes</h1>
    </div>

    <div class="container">
        <div class="row mb-3 sm-center">
         
            <div class="card mx-auto mb-2 sm-w-23rem m-5" style="width: 18rem;"  *ngFor="let acompte of acomptes">
                
                <img class="card-img-top" src='../../assets/images/s1.webp' alt="Card image cap">
                <div class="card-body">
                    <div class="p-1">
                        <b>Matricule: </b> {{acompte.matricule}}
                    </div>

                    <div class="p-1">
                        <b>Année: </b> {{acompte.year}}
                    </div>

                    <div class="p-1">
                        <b>N° accompte: </b> {{acompte.num}}
                    </div>

                    <div class="p-1">
                        <b>Montant : </b> {{acompte.totale}} DT
                    </div>
                </div>

                <div class="card-body mx-auto">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <a class="btn btn-success btn-sm">Modifier </a> &nbsp;
                        <a class="btn btn-danger btn-sm"> Supprimer </a>
                    </div>
                </div>
            </div>
            

            <!--<div class="card mx-auto mb-2 sm-w-23rem" style="width: 18rem;">
                <img class="card-img-top" src='../../assets/images/s1.webp' alt="Card image cap">
                <div class="card-body">
                    <div class="p-1">
                        <b>Matricule: </b> xxxxxxxx
                    </div>

                    <div class="p-1">
                        <b>Année: </b> 2022
                    </div>

                    <div class="p-1">
                        <b>N° accompte: </b> 1
                    </div>
                </div>

                <div class="card-body mx-auto">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <a class="btn btn-success btn-sm">Modifier </a> &nbsp;
                        <a class="btn btn-danger btn-sm"> Supprimer </a>
                    </div>
                </div>
            </div>

            <div class="card mx-auto mb-2 sm-w-23rem" style="width: 18rem;">
                <img class="card-img-top" src='../../assets/images/s1.webp' alt="Card image cap">
                <div class="card-body">
                    <div class="p-1">
                        <b>Matricule: </b> xxxxxxxx
                    </div>

                    <div class="p-1">
                        <b>Année: </b> 2022
                    </div>

                    <div class="p-1">
                        <b>N° accompte: </b> 1
                    </div>
                </div>

                <div class="card-body mx-auto">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <a class="btn btn-success btn-sm">Modifier </a> &nbsp;
                        <a class="btn btn-danger btn-sm"> Supprimer </a>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <hr />
            </div>
        </div>

        <div class="row mb-3 sm-center">
            <div class="card mx-auto mb-2 sm-w-23rem" style="width: 18rem;">
                <img class="card-img-top" src='../../assets/images/s1.webp' alt="Card image cap">
                <div class="card-body">
                    <div class="p-1">
                        <b>Matricule: </b> xxxxxxxx
                    </div>

                    <div class="p-1">
                        <b>Année: </b> 2022
                    </div>

                    <div class="p-1">
                        <b>N° accompte: </b> 1
                    </div>
                </div>

                <div class="card-body mx-auto">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <a class="btn btn-success btn-sm">Modifier </a> &nbsp;
                        <a class="btn btn-danger btn-sm"> Supprimer </a>
                    </div>
                </div>
            </div>-->

            <!-- <div class="card mx-auto mb-2 sm-w-23rem" style="width: 18rem;">
                <img class="card-img-top" src='../../assets/images/s1.webp' alt="Card image cap">
                <div class="card-body">
                    <div class="p-1">
                        <b>Matricule: </b> xxxxxxxx
                    </div>

                    <div class="p-1">
                        <b>Année: </b> 2022
                    </div>

                    <div class="p-1">
                        <b>N° accompte: </b> 1
                    </div>
                </div>

                <div class="card-body mx-auto">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <a class="btn btn-success btn-sm">Modifier </a> &nbsp;
                        <a class="btn btn-danger btn-sm"> Supprimer </a>
                    </div>
                </div>
            </div> -->

            <!-- <div class="card mx-auto mb-2 sm-w-23rem" style="width: 18rem;">
                <img class="card-img-top" src='../../assets/images/s1.webp' alt="Card image cap">
                <div class="card-body">
                    <div class="p-1">
                        <b>Matricule: </b> xxxxxxxx
                    </div>

                    <div class="p-1">
                        <b>Année: </b> 2022
                    </div>

                    <div class="p-1">
                        <b>N° accompte: </b> 1
                    </div>
                </div>

                <div class="card-body mx-auto">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <a class="btn btn-success btn-sm">Modifier </a> &nbsp;
                        <a class="btn btn-danger btn-sm"> Supprimer </a>
                    </div>
                </div>
            </div>-->

            <div class="mt-3">
                <hr />
            </div>
        </div>
    </div>
</div>